[submodule "external/IniReader"]
	path = external/IniReader
	url = https://github.com/ThirteenAG/IniReader
[submodule "external/Ultimate-ASI-Loader"]
	path = external/Ultimate-ASI-Loader
	url = https://github.com/ThirteenAG/Ultimate-ASI-Loader
[submodule "external/tinyexpr"]
	path = external/tinyexpr
	url = https://github.com/codeplea/tinyexpr
[submodule "external/Hooking.Patterns"]
	path = external/Hooking.Patterns
	url = https://github.com/ThirteenAG/Hooking.Patterns
